/**
* Кнопка-переключатель для текста, можно либо захардкодить текст, либо передавать его в атрибуте data-lbl
* todo:( будет переделано, когда будет выпиливаться JQurey )
*/
input[type=checkbox].ace.ace-switch.ace-switch-view {
    width: 90px
}

input[type=checkbox].ace.ace-switch.ace-switch-view+.lbl::before {
    /* content: "Таблица\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0Карточки";*/
    font-size: 12px;
    line-height: 21px;
    height: 24px;
    overflow: hidden;
    border-radius: 12px;
    background-color: #8b9aa3;
    border: 1px solid #8b9aa3;
    color: #FFF;
    width: 86px;
    text-indent: -25px;
    text-shadow: 0 0 0 #FFF;
    display: inline-block;
    position: relative;
    box-shadow: none;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

input[type=checkbox].ace.ace-switch.ace-switch-view+.lbl::after {
    content: '';
    font-size: 11px;
    position: absolute;
    top: 2px;
    left: 2px;
    letter-spacing: 0;
    width: 20px;
    height: 20px;
    line-height: 19px;
    text-shadow: none!important;
    color: #939393;
    background-color: #FFF;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

input[type=checkbox].ace.ace-switch.ace-switch-view:checked+.lbl::before {
    text-indent: 9px;
    background-color: #468fcc;
    border-color: #468FCC
}

input[type=checkbox].ace.ace-switch.ace-switch-view:checked+.lbl::after {
    left: 64px;
    background-color: #FFF;
    color: #848484
}

input[type=checkbox].ace.ace-switch-view.btn-rotate+.lbl::after {
    line-height: 17px
}

input[type=checkbox].ace.ace-switch.ace-switch-view+.lbl::before {
    text-indent: -60px
}

input[type=checkbox].ace.ace-switch.ace-switch-view:checked+.lbl::before {
    text-indent: 7px
}