body {
   font-family: 'Open Sans' !important;
}

table {
   table-layout: auto !important;
}

@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: normal;
   src: local('Open Sans Light'), local('OpenSans-Light'),
      url(../font/OpenSans-Regular-webfont.woff) format('woff');
}

.chosen-container {
   width: 100% !important;
}

button.btn-transparent {
   background-color: Transparent;
   background-repeat: no-repeat;
   border: none;
   cursor: pointer;
   overflow: hidden;
   outline: none;
}

td.actions {
   white-space: nowrap;
}
td.actions a {
   margin: 0 3px;
   display: inline-block;
}

div.actions a {
   margin: 0 3px;
   display: inline-block;
}

span.actions a {
   margin: 0 3px;
   display: inline-block;
}

.datepicker {
   z-index: 1151 !important;
}
.vrf-help-block {
   margin: 0px;
}
.modal-large .modal-dialog {
   width: 900px;
}
.grid-wrapper-div {
   overflow: auto;
   overflow-y: hidden;
}
.cur-pointer {
   cursor: pointer;
}
.grid-wrapper-div table {
   margin-bottom: 0px;
}
.subst-hints-producer {
   font-size: xx-small;
   line-height: 0.5;
   margin: 0;
   padding: 0;
   text-align: right;
   padding-bottom: 6px;
}
.subst-hints-name {
   padding-top: 6px;
   font-size: small;
   font-weight: bold;
   line-height: 0.5;
   text-align: left;
}
.exceeded {
   color: red;
}

.table-striped > tbody > tr.success:nth-child(odd) > td,
.table-striped > tbody > tr.success:nth-child(odd) > th,
.table-striped > tbody > tr.success:nth-child(even) > td,
.table-striped > tbody > tr.success:nth-child(even) > th {
   background-color: #c8ffc2;
}
.table-striped > tbody > tr.danger:nth-child(odd) > td,
.table-striped > tbody > tr.danger:nth-child(odd) > th,
.table-striped > tbody > tr.danger:nth-child(even) > td,
.table-striped > tbody > tr.danger:nth-child(even) > th {
   background-color: #ebccd1;
}
.pre {
   white-space: pre;
}

/* На случай неработоспособности в ИЕ*/
/*@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

/* header */
body .navbar .navbar-brand {
   padding-top: 7px;
   padding-bottom: 5px;
   height: 45px;
}
a {
   cursor: pointer;
}
body .pagination > li > a,
.pagination > li > span {
   padding: 4px 9px;
}

.flex-container {
   counter-reset: flex-item-counter;
}

.flex-item {
}
.clear-field {
   margin-left: 20px;
}
.light-blue .user-info {
   max-width: 280px;
}
body .menu-min .sidebar-shortcuts-large {
   width: 152px;
}
label.field-clear {
   margin-bottom: 0px;
   font-size: 16px;
   margin-left: 20px;
}

label input[type='checkbox'].ace.ace-switch {
   height/*\**/: auto\9;
}
.main-container .sidebar.menu-min .nav-list > li > a {
   padding-left: 7px;
}
.search-a {
   clear: both;
   font-size: 13px;
   text-align: left;
}

/* Styles*/
.widget-header.header-color-blue4 {
   background: #6698c7;
   border-color: #6698c7;
}
.header-color-blue4 + .widget-body {
   border-color: #6698c7;
}
.widget-header.header-color-brown2 {
   background: #8db6dc;
   border-color: #8db6dc;
}
.header-color-blue4 .progress-striped {
   border-width: 1px;
   border-color: #7b8dac;
   border-style: solid;
}
.header-color-green .progress-striped {
   border-width: 1px;
   border-color: #6b9e71;
   border-style: solid;
}
.header-color-gray2 .progress-striped {
   border-width: 1px;
   border-color: #969696;
   border-style: solid;
}
.widget-toolbar .progress-bar-blue2 {
   background-color: #5ca4e7;
}
.header-color-brown2 + .widget-body {
   border-color: #8db6dc;
}
.sort-title {
   font-size: 14px;
   padding-right: 10px;
   margin-left: 10px;
}
.status-gray .widget-header {
   background: #a0a0a0;
   border: #a0a0a0 1px solid;
   color: #fff;
   filter: none;
}
.status-gray.widget-container-span {
   border: 1px solid #a0a0a0;
   border-top: none;
   background-color: #fff;
}
.status-red .widget-header {
   background: #b74635;
   border: #b74635 1px solid;
   color: #fff;
   filter: none;
}
.status-red.widget-container-span {
   border: 1px solid #b74635;
   border-top: none;
   background-color: #fff;
}
.status-green .widget-header {
   background: #82af6f;
   border: #82af6f 1px solid;
   color: #fff;
   filter: none;
}
.status-green.widget-container-span {
   border: 1px solid #82af6f;
   border-top: none;
   background-color: #fff;
}

.status-blue .widget-header {
   background: #6698c7;
   border: #6698c7 1px solid;
   color: #fff;
   filter: none;
}

.status-blue.widget-container-span {
   border: 1px solid #6698c7;
   border-top: none;
   border-bottom: 1px solid #6698c7;
   background-color: #fff;
}
.status-orange .widget-header {
   background: #efa609;
   border: #efa609 1px solid;
   filter: none;
}

.status-orange.widget-container-span {
   border: 1px solid #efa609;
   border-top: none;
   background-color: #fff;
}

.status-purple .widget-header {
   background: #9585bf;
   border: #9585bf 1px solid;
   filter: none;
}

.status-purple.widget-container-span {
   border: 1px solid #9585bf;
   border-top: none;
   background-color: #fff;
}

.widget-header .widget-toolbar::before {
   border: 0px;
}
.flex-container .widget-body,
.flex-container .widget-box {
   border: none;
}
.col-xs-12.col-sm-4.widget-container-span {
   padding: 0px !important;
   margin-left: 8px;
   margin-right: 12px;
   margin-bottom: 10px;
   width: 31.3333%;
}
.widget-container-span .widget-box {
   margin: 0px;
}
.widget-toolbar .progress {
   background: #cacaca;
}
.widget-toolbar .fa {
   font-size: 18px;
   top: 1px;
   position: relative;
}
.profile-info-row {
   display: table-row;
}
/* ----Tables ------*/
body .profile-user-info {
   display: table;
   width: 98%;
   margin: 0 auto;
}
body .profile-user-info-striped {
   border: 1px solid #dcebf7;
}
body .profile-info-name {
   position: relative;
   text-align: right;
   padding: 6px 10px 6px 4px;
   font-weight: normal;
   color: #667e99;
   background-color: transparent;
   border-top: 1px dotted #d5e4f1;
   display: table-cell;
   vertical-align: middle;
}
body .profile-info-value {
   display: table-cell;
   padding: 6px 4px 6px 6px;
   border-top: 1px dotted #d5e4f1;
}
/* Menu */
.fa-14px {
   font-size: 14px;
}
.fa-header-link {
   font-size: 18px;
   padding-left: 2px;
}
.nav-list > li > a > [class*='fa-']:first-child {
   display: inline-block;
   vertical-align: middle;
   min-width: 30px;
   text-align: center;
   font-size: 18px;
   font-weight: normal;
   margin-right: 0px;
}
.app-block-inline {
   display: inline-block;
}
.page-content .app-block {
   display: block;
   clear: both;
}
.app-margin {
   margin: 6px 3px 6px 3px;
}
.app-sort-form {
   width: auto;
   display: inline-block;
}
.sort-item {
   padding-right: 5px;
}
.sort-list {
   padding: 0px 20px 0 20px;
}
.close-sort {
   margin-left: 7px;
   top: -11px;
   position: relative;
}
.page-info {
   padding-right: 12px;
   float: left;
   padding-left: 22px;
   font-size: 14px;
}
.excel-download {
   margin-left: 10px;
}
.form-search a {
   font-size: 12px;
}
.fa-file-text {
   color: #80b873;
}
.hr-my {
   clear: both;
}
.pagination-my {
   float: right;
   padding-right: 27px;
}
.widget-header > .widget-caption,
.widget-header > :first-child {
   line-height: 36px;
   padding: 0;
   margin: 0;
   display: inline;
}
.sort-list .btn.active,
.sort-list .btn-default.active {
   border-color: #889aa4;
   background-color: #889aa4 !important;
}
.sort-list .btn.active::after {
   border-bottom: 1px solid #889aa4;
}
.page-info {
   padding-right: 12px;
   float: left;
   padding-left: 22px;
   font-size: 14px;
   padding-top: 10px;
}
.input-fa.input-fa-right > [class*='fa-'] {
   left: auto;
   right: 15px;
}
.input-fa > [class*='fa-'] {
   padding: 0 3px;
   z-index: 2;
   position: absolute;
   top: 1px;
   bottom: 1px;
   left: 3px;
   line-height: 28px;
   display: inline-block;
   color: #f07979;
   font-size: 16px;
}
.pagination-block .pagination {
   margin: 0;
}
.widget-toolbar a {
   color: #fff;
   text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px;
}

.widget-header-my .widget-toolbar::before {
   border: none;
}
.col-xs-10 .profile-user-info.profile-user-info-striped {
   margin-bottom: 30px;
}
.col-xs-10 .table-responsive.substation {
   margin-bottom: 30px;
}
.profile-picture {
   float: right;
   margin-top: 38px;
}
.profile-info-row {
   min-height: 32px;
}
.nav-search {
   position: absolute;
   top: 57px;
   right: 22px;
   line-height: 24px;
}
/*.fa-search{
  z-index: 2;
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 3px;
}*/
.black {
   color: #000000;
}
.widget-main .remove-timeitem {
   display: none;
   opacity: 0;
   -webkit-transition: opacity 0.4s linear;
   -moz-transition: opacity 0.4s linear;
   -o-transition: opacity 0.4s linear;
}
.widget-main:hover .remove-timeitem {
   display: inline-block;
   opacity: 1;
   -webkit-transition: opacity 0.4s linear;
   -moz-transition: opacity 0.4s linear;
   -o-transition: opacity 0.4s linear;
}
.search-panel {
   display: block;
   clear: both;
   margin: 0 0 12px;
   border-bottom: 1px dotted #e2e2e2;
   /*padding-bottom: 16px;
  padding-top: 7px;*/
}
.search-panel:after {
   content: '';
   display: block;
   clear: both;
   height: 0px;
   visibility: hidden;
}
.search-panel .input-group-addon {
   border-left-width: 0px;
   border-right-width: 0px;
}
.search-panel h4 {
   margin: 0px 10px 9px 12px;
   font-size: 18px;
}
.search-panel .field-chosen {
   border-right: 0px;
}
.search-panel label {
   font-size: 13px;
   padding: 0px;
   display: block;
}
.search-panel .input-sm {
   border-radius: 0px;
}
.search-panel .searchbtn {
   position: relative;
   right: 0;
}
.search-panel .fa-search {
   position: relative;
   top: 0px;
}
input.input-sm {
   font-size: 12px;
}
body .progress[data-percent]:after {
   line-height: 0px;
   left: 35%;
   line-height: 34px;
   right: auto;
}
.widget-body {
   border: 1px solid #ccc;
   border-top: 0;
   background-color: #fff;
}
.search-panel .input-group-addon {
   padding: 3px 4px;
}
.col-xs-12.col-sm-4.widget-container-span.searchbutton {
   float: right;
   text-align: right;
   margin: 24px 3% 0px 0px;
}
.input-daterange.input-group {
   width: 100%;
}
/*********************************************/

.search-panel .chosen-container.chosen-container-single.chosen-disabled {
   width: 100% !important;
}
/*Content*/
.title-product {
   font-size: 14px;
}
.tab-td-b {
   font-weight: 700;
}
.tab-td-right {
   text-align: right;
   vertical-align: top;
   padding-right: 7px;
}
.card {
   font-size: 12px;
}
.widget-box .widget-header .progress {
   margin-top: -3px;
}
.profile-info-row .profile-info-name {
   width: 260px;
}
.profile-info-row .profile-info-value {
   margin-left: 260px;
}
.more-tools {
   display: inline-block;
}
.attached-date {
   float: right;
}
.attached-file {
   width: 100%;
}
a.remove-attached-file {
   display: none;
}
.list-unstyled li:hover .remove-attached-file {
   display: inline;
}
.list-unstyled.pricing-table-header > li {
   padding: 7px 7px 7px 11px;
}
.card {
   width: 100%;
}
.more-tools span {
   display: inline-block;
   margin: 0px;
}
.more-tools-a {
   display: inline-block;
}
.col-xs-10 .profile-user-info {
   margin: 0px;
}
.btn .fa {
   padding: 0px;
}
.widget-header-my {
   color: rgb(67, 131, 180);
}
.widget-header-my h4 {
   display: inline-block;
}
.sort-list .chosen-container,
.sort-list .chosen-select {
   width: 230px !important;
   margin-right: 5px;
}
.sort-list .chosen-container-single .chosen-drop {
   border-radius: 0px;
   border-bottom: 3px solid;
   border-color: rgb(68, 146, 201);
}
.col-sm-12 .promo-img {
   background-image: url('../img/example2.jpg');
   height: auto;
   background-repeat: no-repeat;
   background-position: right;
   border-top: 1px solid #ccc;
}
.search-panel h4 {
   margin: 0px 0px 8px 8px;
}

@media (max-width: 1500px) {
   .pic-medicine {
      width: 25%;
   }
   .main-info {
      width: 75%;
   }
   .main-pricing-box {
      width: 50%;
   }
   .col-xs-12.col-sm-4.widget-container-span {
      width: 46.88%;
   }
}
@media (max-width: 790px) {
   .col-sm-12 .promo-img {
      background-image: none;
   }
   .promo-sm-6 {
      width: 100%;
   }
   .col-sm-4 {
      width: 100%;
   }
   .form-horizontal .control-label {
      text-align: left;
   }
   body .col-sm-reset {
      width: 100%;
      padding-left: 12px;
      padding-right: 0;
      float: left;
   }
   .form-group > label[class*='col-'] {
      width: 100%;
   }
   .col-xs-2 {
      width: 50%;
   }
}
@media (max-width: 1100px) {
   .col-xs-12.col-sm-4.widget-container-span {
      width: 100%;
   }
   .col-xs-12.col-sm-4.widget-container-span.searchbutton {
      margin: 0px;
   }
   .searchbutton .btn {
      width: 100%;
      margin: 7px -10px 0px 0px;
   }
}

@media (max-width: 990px) {
   .navbar-toggle {
      display: block;
   }
}

@media (max-width: 790px) {
   ul.breadcrumb {
      display: none;
   }
   .pic-medicine {
      display: none;
   }
   .main-info {
      width: 100%;
   }
   .col-xs-5 {
      width: 100%;
      margin-bottom: 15px;
   }
   .col-xs-7 {
      width: 100%;
      margin-bottom: 15px;
   }
}
@media (max-width: 480px) {
   body .profile-user-info-striped .profile-info-name {
      float: none;
      width: auto;
      text-align: left;
      padding: 6px 4px 6px 10px;
      display: block;
   }
   .profile-user-info-striped .profile-info-value {
      margin-left: 10px;
      display: block;
   }
}

.table-scrollable {
}
.table-scrollable table {
   display: flex;
   flex-flow: column;
   height: 100%;
   width: 100%;
}
.table-scrollable table thead {
   flex: 0 0 auto;
   width: calc(100% - 0.9em);
}
.table-scrollable table tbody {
   flex: 1 1 auto;
   display: block;
   overflow-y: scroll;
}
.table-scrollable table tbody tr {
   width: 100%;
}
.table-scrollable table thead,
.table-scrollable table tbody tr {
   display: table;
   table-layout: fixed;
}

.padding-top-2 {
   padding-top: 2px !important;
}

.padding-top-6 {
   padding-top: 6px !important;
}

.padding-top-10 {
   padding-top: 10px !important;
}

.widget-toolbar .btn-minier .fa {
   font-size: 14px !important;
}

.sidebar .sidebar-shortcuts {
   overflow: visible;
}

.m-right {
   margin-right: 5px;
}

.decoration-none {
   text-decoration: none !important;
}

.dnd ul[dnd-list],
.dnd ul[dnd-list] > li {
   position: relative;
}

.dnd ul[dnd-list] {
   min-height: 300px;
   padding-left: 0px;
}

.dnd ul[dnd-list] .dndPlaceholder {
   display: block;
   background-color: #ddd;
   min-height: 22px;
}

.dnd ul[dnd-list] li.dd-handle {
   background-color: #fff;
   border: 1px solid #ddd;
   border-top-right-radius: 4px;
   border-top-left-radius: 4px;
   display: block;
   padding: 10px 15px;
   margin-bottom: -1px;
}

.modal-excel-window .modal-dialog {
   width: 910px;
}

.panel-scrollable {
   overflow: auto;
   height: 320px;
   padding: 5px;
}

.text-align-center {
   overflow: hidden;
   text-align: center;
}

.text-align-center div {
   padding-top: 25%;
   display: inline-block;
   vertical-align: middle;
   color: #94a4ad;
}

.spaced-min {
   padding-top: 1px;
   padding-bottom: 1px;
}

.float-right {
   float: right;
}

.padding-7 {
   padding: 7px;
}

.padding-10 {
   padding: 10px;
}
.text-align-left {
   text-align: left !important;
}

.text-align-right {
   text-align: right !important;
}

.no-padding-bottom {
   padding-bottom: 0 !important;
}

.padding-4 {
   padding: 4px;
}

.tree-permissions,
.tree-permissions ul {
   margin: 0 0 0 1em; /* indentation */
   padding: 0;
   list-style: none;
   color: #369;
   position: relative;
}

.tree-permissions ul {
   margin-left: 0.5em;
} /* (indentation/2) */

.tree-permissions:before,
.tree-permissions ul:before {
   content: '';
   display: block;
   width: 0;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   border-left: 1px solid;
}

.tree-permissions li {
   margin: 0;
   padding: 0 1.2em; /* indentation + .5em */
   line-height: 2.2em; /* default list item's `line-height` */
   font-weight: bold;
   position: relative;
}

.tree-permissions li:before {
   content: '';
   display: block;
   width: 10px; /* same with indentation */
   height: 0;
   border-top: 1px solid;
   margin-top: -1px; /* border top width */
   position: absolute;
   top: 1em; /* (line-height/2) */
   left: 0;
}

.tree-permissions li:last-child:before {
   background: white; /* same with body background */
   height: auto;
   top: 1em; /* (line-height/2) */
   bottom: 0;
}

.widget-box.history-item {
   margin-left: 140px;
}

.timeline-info.history-item {
   width: 70px !important;
}

.timeline-container.history::before {
   left: 98px !important;
}

div.timeline-date.history-item {
   font-size: 14px;
   padding-top: 7px;
   float: left;
   position: relative;
   display: inline-block;
   width: 70px;
   text-align: left;
   color: #777;
}

.timeline-label.history {
   margin-left: 104px;
}

.modal-compare-window .modal-dialog {
   width: 1010px;
}

.padding-left-10 {
   padding-left: 10px !important;
}

.background-color-name {
   color: #336199;
   background-color: #edf3f4;
}

.background-color-edit {
   border-top: 0 !important;
   background-color: #d9edf7;
}

.background-color-edit .background-color-name {
   color: #336199;
   border-top: 0 !important;
   background-color: #c3ddff;
}

.background-color-add {
   border-top: 0 !important;
   background-color: #dff0d8;
}

.background-color-add .background-color-name {
   color: #336199;
   border-top: 0 !important;
   background-color: #d0f0c9 !important;
}

.background-color-delete {
   border-top: 0 !important;
   background-color: #ebccd1;
}

.background-color-delete .background-color-name {
   color: #336199;
   border-top: 0 !important;
   background-color: #ebbabc !important;
}

.no-border-top {
   border-top: 0 !important;
}

.width-260 {
   width: 260px !important;
}

.width-348 {
   width: 348px;
}

.width-364 {
   width: 364px;
}

.width-profile-info {
   width: 98%;
}

tbody.color-table-border > tr > td,
tbody.color-table-border > tr > th {
   border: 1px dotted #dcebf7;
}

tbody.color-table-border > tr > th {
   border-top: 1px solid #f7fbff;
}

thead.color-table-border > tr > th {
   border: 1px dotted #dcebf7;
}

table.color-table-border > tr > td {
   border: 1px dotted #dcebf7;
}

table.color-table-border > tr > th {
   border: 1px dotted #dcebf7;
}

table.color-table-border {
   border: 1px solid #dcebf7 !important;
}

.border-top-solid-profile-table {
   border-top: 1px solid #dcebf7 !important;
}

.border-right-dark-grey {
   border-right: 1px dotted #dcebf7 !important;
}

.font-weight-normal > tr > th {
   font-weight: normal !important;
}

.default-text-color {
   color: #393939;
}

.margin-bottom-5 {
   margin-bottom: 5px !important;
}

table > thead > tr > th {
   white-space: normal !important;
}

table > tbody > tr > td {
   white-space: normal !important;
}

.clear-both {
   clear: both;
}

span.dropdown-width > ul {
   min-width: 37px !important;
}

.sidebar.h-sidebar.irena-sidebar .nav-list > li > a {
   line-height: 20px !important;
   height: auto !important;
   padding: 5px 8px !important;
}

.sidebar.h-sidebar.irena-sidebar .sidebar-shortcuts {
   padding: 3px 3px !important;
}

.sidebar.h-sidebar.irena-sidebar {
   margin-top: 4px;
}

.react-bs-table-container > div {
   border-radius: 0 !important;
   margin-bottom: 0 !important;
}

.react-bs-table-pagination > div {
   margin-top: 0 !important;
}

.table > thead > tr > th:last-child {
   border-right-color: #ddd !important;
}

.sort-caret {
   cursor: pointer;
   color: #bbbbbb !important;
}

.pagination > li.disabled > a,
.pager > li.disabled > a,
.pagination > li.disabled > a:hover,
.pager > li.disabled > a:hover {
   background-color: #f9f9f9;
   border-color: #d9d9d9;
   z-index: auto;
   pointer-events: none !important;
}

.filters > th {
   color: #393939;
   font-weight: normal !important;
}

.ace-tooltip {
   font-size: 12px !important;
   border-radius: 0 !important;
   padding: 5px 9px !important;
}

.__react_component_tooltip.show.ace-tooltip {
   display: inline-block !important;
}

.toolbar-container {
   overflow: hidden;
}

.toolbar > .btn,
.toolbar > span > .btn {
   margin-left: 5px;
   display: inline-block;
}

.toolbar > .btn:first-child {
   margin-left: 0;
}

div.toolbar {
   white-space: nowrap;
}

.modal-dialog > div {
   -webkit-animation-name: animatetop;
   -webkit-animation-duration: 0.4s;
   animation-name: animatetop;
   animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
   from {
      top: -300px;
      opacity: 0;
   }
   to {
      top: 0;
      opacity: 1;
   }
}

@keyframes animatetop {
   from {
      top: -300px;
      opacity: 0;
   }
   to {
      top: 0;
      opacity: 1;
   }
}

.editable-input {
   display: inline-block;
}

.editable-buttons {
   display: inline-block;
   vertical-align: top;
}

.editable-buttons button {
   margin-left: 5px;
}

.editable-input.editable-has-buttons {
   width: auto;
}

.editable-click,
a.editable-click {
   text-decoration: none;
   color: #428bca;
   border-bottom: dashed 1px #428bca;
}

.editable-click:hover,
a.editable-click:hover {
   text-decoration: none;
   color: #2a6496;
   border-bottom-color: #2a6496;
}

.editable-wrap {
   display: inline-block;
   white-space: nowrap;
   margin: 0;
}

.editable-wrap .editable-controls,
.editable-wrap .editable-error {
   margin-bottom: 0;
}

.editable-wrap .editable-controls > input,
.editable-wrap .editable-controls > select,
.editable-wrap .editable-controls > textarea {
   margin-bottom: 0;
}

.editable-wrap .editable-input {
   display: inline-block;
}

div.modal-body {
   padding: 20px;
}

.input-group-addon-background {
   text-align: center;
   white-space: nowrap;
   background-color: #eee;
   border: 1px solid #ccc;
   border-left: 0;
   border-right: 0;
}

.height-30 {
   height: 30px;
}

.light-blue-background,
.autocomplete-dropdown-content li:hover {
   background-color: #e1f5ff !important;
}

.light-green-background {
   background-color: #e5f6de !important;
}

.light-red-background {
   background-color: #ffe0e5 !important;
}

.light-purple-background {
   background: #eee6ff !important;
}

.light-orange-background {
   background: #fff0d8 !important;
}

.light-grey-background {
   background: #efefef !important;
}

.dark-blue {
   color: #336199 !important;
}

.dark-red {
   color: #b74635 !important;
}

/* The container - needed to position the dropdown content */
.autocomplete-dropdown {
   position: relative;
   display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.autocomplete-dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   margin-top: 0px;
   left: 0;
   right: 0;
   width: 100%;
   margin-left: 0;
   padding: 0;
   list-style: none;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 2000;
}

ul.autocomplete-dropdown-content.autocomplete-search {
   margin-top: 34px !important;
}

/* Links inside the dropdown */
.autocomplete-dropdown-content li {
   padding: 5px;
   cursor: pointer;
   display: block;
}

.padding-top-16 {
   padding-top: 16px !important;
}

.padding-right-5 {
   padding-right: 5px !important;
}

.blur {
   /*background-color: #31363f !important;*/
   -webkit-filter: blur(2px);
   -moz-filter: blur(2px);
   -o-filter: blur(2px);
   -ms-filter: blur(2px);
   filter: blur(2px);
}

.loading-block {
   position: absolute;
   z-index: 50;
   top: 40%;
   right: 40%;
   color: #308bf4 !important;
}

.loading-background {
   background-color: #cde1ee !important;
   position: absolute;
   z-index: 40;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
}

.padding-top-200 {
   padding-top: 200px;
}

.border-bottom-dotted {
   border-bottom: 1px dotted #e2e2e2;
}

.padding-bottom-5 {
   padding-bottom: 5px;
}

.cyrilic {
   list-style-type: none; /* Прячем исходную нумерацию */
}
.cyrilic li::before {
   margin-right: 5px;
   width: 1em;
   text-align: right;
   display: inline-block;
}
.cyrilic li:nth-child(1)::before {
   content: 'а)';
}
.cyrilic li:nth-child(2)::before {
   content: 'б)';
}
.cyrilic li:nth-child(3)::before {
   content: 'в)';
}
.cyrilic li:nth-child(4)::before {
   content: 'г)';
}
.cyrilic li:nth-child(5)::before {
   content: 'д)';
}
.cyrilic li:nth-child(6)::before {
   content: 'е)';
}
.cyrilic li:nth-child(7)::before {
   content: 'ж)';
}
.cyrilic li:nth-child(8)::before {
   content: 'з)';
}
.cyrilic li:nth-child(9)::before {
   content: 'и)';
}
.cyrilic li:nth-child(10)::before {
   content: 'к)';
}
.cyrilic li:nth-child(11)::before {
   content: 'л)';
}
.cyrilic li:nth-child(12)::before {
   content: 'м)';
}
.cyrilic li:nth-child(13)::before {
   content: 'н)';
}
.cyrilic li:nth-child(14)::before {
   content: 'о)';
}
.cyrilic li:nth-child(15)::before {
   content: 'п)';
}
.cyrilic li:nth-child(16)::before {
   content: 'р)';
}
.cyrilic li:nth-child(17)::before {
   content: 'с)';
}
.cyrilic li:nth-child(18)::before {
   content: 'т)';
}
.cyrilic li:nth-child(19)::before {
   content: 'у)';
}
.cyrilic li:nth-child(20)::before {
   content: 'ф)';
}
.cyrilic li:nth-child(21)::before {
   content: 'х)';
}
.cyrilic li:nth-child(22)::before {
   content: 'ц)';
}

.form-group.has-error .Select-control {
   border-color: #f09784;
   color: #d68273;
   box-shadow: none;
}

.form-group.has-error .Select-control input {
   box-shadow: none;
}

.date-filter {
   margin: 0 !important;
}

.date-filter p.has-error {
   margin-bottom: 0 !important;
}
