.option-switch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.option-switch__element {
}

.option-switch__element--text {

}

.option-switch__element--switch {
  margin-top: 10px;
}