.option-switch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.option-switch__element {
}

.option-switch__element--text {
  margin-top: 7px;
}

.option-switch__element--switch {
  margin-top: 5px;
}