.option-switch::before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
  padding-bottom: 10px;
}

.option-switch__element {
  display: inline-block;
  vertical-align: middle;
}

.option-switch__element--text {
  padding-bottom: 5px;
}

.option-switch__element--switch {
  padding-top: 5px;
}